.advantages
  position: relative
  &-list
    position: relative
    z-index: 1
    margin: 75px 0 0 0
    +media-breakpoint-down(md)
      display: none
    &__item
      position: relative
      padding-left: 32px
      color: $white
      margin: 0 -15px 23px
      font-size: 14px
      line-height: 17px
      &::after
        content: ""
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 16px
        height: 12px
        background-image: url(../images/dist/svg/done.svg)
        background-size: contain
  &-section
    position: relative
    padding-top: 70px
    padding-bottom: 85px
    +media-breakpoint-down(lg)
      padding-bottom: 40px
    +media-breakpoint-down(md)
      padding-top: 50px
    +media-breakpoint-down(sm)
      display: none
  &__item
    position: relative
    +media-breakpoint-down(md)
      margin-bottom: 15px
  &__icon
    width: 48px
    height: 48px
    margin-left: -15px
    +media-breakpoint-down(md)
      width: 80px
      height: 60px
    img
      +media-breakpoint-down(md)
        max-width: 100%
        height: auto
  &__title
    margin: 28px 0 20px
    color: rgba(30, 30, 30, 0.9)
    font-size: 18px
    font-weight: 500
    line-height: 22px
  &__description
    p
      font-size: 14px
      line-height: 25px
      color: rgba(30, 30, 30, 0.9)